/* Add standard 'appearance' alongside vendor-prefixed for compatibility */
button,
input:where([type=button]),
input:where([type=reset]),
input:where([type=submit]) {
    appearance: button;
}

[type="search"] {
    appearance: textfield;
}

::-webkit-search-decoration {
    appearance: none;
}

::-webkit-file-upload-button {
    appearance: button;
}